*{
    box-sizing: border-box;
}
body{
    margin: 0;
    width: 100%;
}
.header{
    position: relative;
}
.container{
    width: 80%;
    margin: auto;
}
.bg-img{
    position: relative;
    width: 100%;
    height: 600px;
}
.bg-img img{
    width: 100%;
    height: 100%;
}
.nav{
    position: absolute;
    top:0;
    width: 100%;
    color: black;
    font-weight: 550;
}
.container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container{
    display: flex;
    align-items: center;
}
.nav ul{
    list-style: none;
    display: flex;
}
.nav ul li{
    padding: 15px;
    margin-right: 20px;
    font-size: 20px;
}
.nav ul li a{
    text-decoration: none;
    color: black;
}
.header-body{
	text-align: center;
    color: #6749a8;
	font-size: 45px;
	margin-top: 80px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.login{
    padding: 14px 20px;
    background-color: #fafafa;
    border: none;
}
.login, .Register{
    width: 20%;
    align-items: center;
    margin-left: 300px;
    cursor: pointer;
    margin-top: 100px;
}
.Register{
    padding: 14px 20px;
    background-color: blue;
    border: none;
    color: #ffffff;
}
button:hover {
    opacity:1;
  }
.details img{
    width: 50%;
    margin-left: 380px;
}
  p{
    color: #555
}
.copyright{
	border-top-style: solid;
	border-top-color: #bbbbbb;
	margin-top: 0;
	font-size: 15px;
	color: #bbbbbb;
	background-color: #2a2729;
	text-align: center;
    margin-bottom: 0;
}
.footer-row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #2a2729;
    padding: 70px 0;
	margin-top: 200px;
}
.footer-col{
   width: 25%;
   padding: 0px 10px;
}
.footer-col h4{
	font-size: 18px;
	color: #eeecec;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/responsive/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
